{% extends "layout.html" %}
    {% block main %}
    <form action="/makeanorder" mehthod="post">
     <input type="" placeholder="ДАТА" name="data">
     <input type="" placeholder="ВРЕМЯ ПОСТУПЛЕНИЕ ВЫЗОВА">
     <input type="" placeholder="ВРЕМЯ ОТЗВАНИВАНИЕ ВЫЗОВА">
     <input type="text" placeholder="Ф.И.О" name="name">
     <input type="text" placeholder="ВОЗРАСТ">
     <input type="text" placeholder="АДРЕС ВЫЗОВА">
     <input type="text" placeholder="ТЕЛ-Н">
     <input type="text" placeholder="ПОВОД">
     <input type="text" placeholder="ДИОГНОЗ">
     <input type="text" placeholder="ОКАЗАНИЕ ПОМОЩИ.">
     <input type="text" placeholder="ИСХОД">
     <select name="doctor1">
        {% for doctor in doctors %}
            <option value={{doctor[0]}}> {{doctor[1]}} </option>
        {% endfor %}
     </select>
     <select name="paramedic">
        {%for paramedic in paramedics %}
            <option value={{paramedic[0]}}>{{paramedic[1]}}<option>
        {% endfor %}
     </select>
     <select name="driver" >
         {% for driver in drivers %}
            <option value={{ driver[0]}}>{{driver[1]}}</option>
         {% endfor %}
     </select>
     <select name="dispacher">
        {%for dispacher in dispachers %}
            <option value={{dispacher[0]}}> {{dispacher[1]}}</option>
        {% endfor %}
     </select>
     </form>
     {% endblock %}




