{% extends "layout.html" %}
    {% block main %}
    <form action="/addorder" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
     <input type="TEXT"  name="data" id="data" class="shadow appearance-none border rounded py-4 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
     <input type="TEXT" name="time"  id="time" class="shadow appearance-none border rounded py-4 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
     <input type="TIME" placeholder="ВРЕМЯ ОТЗВАНИВАНИЕ ВЫЗОВА" name="time2"  class="shadow appearance-none border rounded py-4 px-5 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
     <input type="text" placeholder="Ф.И.О" value={{client[0][1]}} name="name" disabled  class="shadow appearance-none border rounded py-4 px-16 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
     <input type="text" placeholder="ВОЗРАСТ" name="age" class="shadow appearance-none border rounded py-4 px-11 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
     <input type="text" placeholder="АДРЕС ВЫЗОВА" name="address" value={{client[0][3]}}  class="shadow appearance-none border rounded py-4 px-16 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" disabled>
     <input type="TEL" placeholder="ТЕЛ-Н" name="tel" id="phone" value={{client[0][2]}}  class="shadow appearance-none border rounded py-4 px-16 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" disabled>
     <textarea row="10" col="45" name="information" placeholder="ПОВОД" class="shadow appearance-none border rounded py-4 px-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" ></textarea>
     <textarea row="10" col="45" name="diagnost" placeholder="ДИОГНОЗ" class="shadow appearance-none border rounded py-4 px-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" ></textarea>
     <textarea row="10" col="45" name="prescription" placeholder="ОКАЗАНИЕ ПОМОЩИ." class="shadow appearance-none border rounded py-4 px-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" ></textarea>
     <textarea row="10" col="45"name="exodo" placeholder="ИСХОД" class="shadow appearance-none border rounded py-4 px-6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" ></textarea>
     <select name="doctor" class="shadow appearance-none border rounded py-4 px-8 w-1/6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
        {% for doctor in doctors %}
            <option value={{doctor[0]}}> {{doctor[1]}} </option>
        {% endfor %}
     </select>
     <select name="paramedic" class="shadow appearance-none border rounded py-4 px-8 w-1/6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
        {%for paramedic in paramedics %}
            <option value={{paramedic[0]}}>{{paramedic[1]}}<option>
        {% endfor %}
     </select>
     <select name="driver"  class="w-1/6 shadow appearance-none border rounded py-4 px-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
         {% for driver in drivers %}
            <option value={{ driver[0]}}>{{driver[1]}}</option>
         {% endfor %}
     </select>
     <select name="dispacher" class="shadow appearance-none border rounded py-4 px-8 w-1/4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
        {%for dispacher in dispachers %}
            <option value={{dispacher[0]}}> {{dispacher[1]}}</option>
        {% endfor %}
     </select>
     <input type="HIDDEN" value="2" name="type">
     <input type="HIDDEN" value={{client[0][0]}} name="client_id">
     <button type="submit" class="bg-blue-500 w-1/8 hover:bg-blue-700 text-white font-bold py-4 px-6" >add to database</button>

     </form>
     

     <script>
             data = document.getElementById("data")
             function joinDate(t, a, s){
                 function format(m){
                   let f = new Intl.DateTimeFormat('ru',m)
                  return f.format(t)    
                 }
                 return a.map(format).join(s)
             }
             

             let a = [{day: 'numeric'}, {month:'short'}, {year:'numeric'}]
             let theTimeNow = new Date()
             data.value = joinDate(theTimeNow, a, '-') 
             document.getElementById("time").value = `${theTimeNow.getHours()}:${ theTimeNow.getMinutes()}`
         </script>
     {% endblock %}

