{% extends "layout.html" %}
    {% block main %}
    <form action="/makeanorder" mehthod="post">
     <input type="" placeholder="ДАТА" name="data">
     <input type="" placeholder="ВРЕМЯ ПОСТУПЛЕНИЕ ВЫЗОВА">
     <input type="" placeholder="ВРЕМЯ ОТЗВАНИВАНИЕ ВЫЗОВА">
     <input type="text" placeholder="Ф.И.О" name="name">
     <input type="text" placeholder="ВОЗРАСТ">
     <input type="text" placeholder="АДРЕС ВЫЗОВА">
     <input type="text" placeholder="ТЕЛ-Н">
     <input type="text" placeholder="ПОВОД">
     <input type="text" placeholder="ДИОГНОЗ">
     <input type="text" placeholder="ОКАЗАНИЕ ПОМОЩИ.">
     <input type="text" placeholder="ИСХОД">
     <input type="" placeholder="ВРАЧ">
     <input type="" placeholder=" ФЕЛЬДШЕР">
     <input type="" placeholder="ВОДИТЕЛ">
     <input type="text" placeholder="ДИСПЕТЧЕР">
     </form>
     {% endblock %}
