{% extends "layout.html" %}
{% block main %}   
<table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
        <tr class="left border-b-2 border-gray-300">
            <th class="px-4 py-3">name </th>
            <th class="px-4 py-4"> phone</th>
            <th class="px-4 py-4"> address</th>
        </tr>
        {% for dispacher in dispachers %}
        <tr class="bg-gray-100 border-b border-gray-200">
            <td class="px-4 py-3"> {{ dispacher[1] }} </td>
            <td class="px-4 py-3"> {{ dispacher[2] }} </td>
            <td class="px-4 py-3"> {{ dispacher[3] }} </td>
            <td class="px-4 py-3"> <form action="/deletedispacher" method="post">
                    <input type="HIDDEN" name="id_delete" value={{ dispacher[0]}}>
                    <button type="SUBMIT" >X </button>
                </form>
        </tr>
        {% endfor %}
    </table>
    <form action="/dispachers" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="phone" placeholder="phone">
            <input type="text" name="address" placeholder="address">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-4 rounded focur:outline-none focus:shadow-outline"> add a dipacher </button>
    </form>
 {% endblock %}
