{% extends "layout.html"%}
    {% block main %}
        <table>
            <tr class="bg-gray-200 text-gray-600 text-xl text-center">
                <td>Name Doctor</td>
                <td>Especiality</td>
                <td>Phone Adress</td>
                <td>Adress</td>
            </tr>
        </table>

        <form action="/doctors" method="post">
            <input type="text" name="name" placeholder="Doctor name">
            <input type="text" name="especiality" placeholder="Especiality">
            <input type="text" name="phone" placeholder="phone">
            <input type="text" name="address" placeholder="adress">
            <button type="submit">add a doctor </button>
        </form>
    {% endblock %}
