{% extends "layout.html"%}
    {% block main %}
        <table>
            <tr class="bg-gray-200 text-gray-600 text-xl text-center">
                <th>Name Doctor</th>
                <th>Especiality</th>
                <th>Phone Adress</th>
                <th>Adress</td>
            </tr>
            {% for doctor in doctors%}
            <tr>
                <td>{{doctor[1]}}</td>
                <td>{{doctor[2]}}</td>
                <td>{{doctor[3]}}</td>
                <td>{{doctor[4]}}</td>
            </tr>
            {%endfor%}
        </table>
<div class="w-full ">
        <form action="/doctors" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <input type="text" name="name" placeholder="Doctor name">
            <input type="text" name="especiality" placeholder="Especiality">
            <input type="text" name="phone" placeholder="phone">
            <input type="text" name="address" placeholder="adress">
            <button type="submit"class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" >add a doctor </button>
        </form>
</div>
    {% endblock %}
