{% extends "layout.html"%}
    {% block main %}
        <table  class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
            <tr class="left boder-b-2 border-gray-300">
                <th class="px-4 py-3" >ИМЯ ВРАЧА</th>
                <th class="px-4 py-3">СПЕЦИАЛЬНОСТЬ</th>
                <th class="px-4 py-3">ТЕЛЕФОН</th>
                <th class="px-4 py-3">АДРЕС</td>
            </tr>
            {% for doctor in doctors%}
            <tr class="bg-gray-100 border-b border-gray-200">
                <td class="px-4 py-3" id="name\\{{doctor[0]}}">{{doctor[1]}}</td>
                <td class="px-4 py-3" id="especialitye\\{{doctor[0]}}">{{doctor[2]}}</td>
                <td class="px-4 py-3" id="phone\\{{doctor[0]}}">{{doctor[3]}}</td>
                <td class="px-4 py-3" id="address\\{{doctor[0]}}">{{doctor[4]}}</td>
                <td class="px-4 py-3"><form action="/doctorsdelete" method="post">
                        <input name="delete_id" type="HIDDEN" value={{doctor[0]}}>
                        <button type="submit">X</button>
                    </form>
                    <button id="modify" onclick="modify({{ doctor[0] }})">МЕНЯТЬ<button>
            </tr>
            {%endfor%}
        </table>
<div class="w-full ">
        <form action="/doctors" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <input type="text" name="name" id="name-form" placeholder="ИМЯ ВРАЧА">
            <input type="text" name="especiality"id="especiality-form" placeholder="СПЕЦИАЛЬНОСТЬ">
            <input type="text" name="phone" id="phone-form" placeholder="ТЕЛЕФОН">
            <input type="text" name="address" id="address-form" placeholder="АДРЕС">
            <input type="hidden" name="id" id="id-form" value="">
            <input type="hidden" name="modi" id="modification-form" value=0>
            <button type="submit"id="btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"> ДОБАВИТЬ ВРАЧА</button>
        </form>
</div>
      <script>
          function modify(e){
              document.getElementById("name-form").value = document.getElementById(`name\\\\${e}`).innerHTML
              document.getElementById("especiality-form").value = document.getElementById(`especialitye\\\\${e}`).innerHTML
              document.getElementById("phone-form").value = document.getElementById(`phone\\\\${e}`).innerHTML
              document.getElementById("address-form").value = document.getElementById(`address\\\\${e}`).innerHTML
              document.getElementById("modification-form").value = 1
              document.getElementById("id-form").value = e
              document.getElementById("btn").innerHTML ="МЕНЯТЬ"
          }
      </script>
      {% endblock %}
