{% extends "layout.html" %}
    {% block main %}

        <table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
            <tr class="left border-b-2 boder-gray-300">
                <th class="px-4 py-3">
                    ИМЯ ВОДИТЕЛ
                </th>
                <th class="px-4 py-3">
                    ТЕЛЕФОН
                </th>
                <th class="pax-4 py-3">
                    АДРЕС
                </th>
            </tr>
            {% for driver in drivers%}
            <tr class="bg-gray-100  border-b border-gray-200">
                <td class="px-4 py-3" id="name\\{{driver[0]}}">{{driver[1]}}</td>
                <td class="px-4 py-3" id="phone\\{{driver[0]}}">{{driver[2]}}</td>
                <td class="px-4 py-3" id="address\\{{driver[0]}}">{{driver[3]}}</td>
                <td class="px-4 py-3"><form action="/deletedriver" method="post">
                        <input type="HIDDEN" name="id_delete" value={{driver[0]}}>
                        <button type="SUBMIT"class="bg-red-500 text-gray-200 rounded hover:bg-red-400 px-6 py-2 focus:outline-none mx-1"> X</button>
                    </form>
                    <button onclick="mody({{driver[0]}})" class="bg-green-500 text-gray-200 rounded hover:bg-green-400 px-6 py-2 focus:outline-none mx-1">М</button>
                </td>
            </tr>
            {% endfor %}
        </table>

        <form action="/drivers" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <input name=name type="text" id="name-form" placeholder=" ИМЯ ВОДИТЕЛ">
            <input name="phone" type="text" id="phone-form" placeholder=" ТЕЛЕФОН">
            <input name="address" type="text"id="address" placeholder="АДРЕС">
            <input type="hidden" name="id" id="id-mod" value="">
            <input type="hidden" name="mody" id="modify" value=0>
            <button type="submit" id="btn"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shad    ow-outline"> ДОБАВИТЬ ВОДИТЕЛ</button>
        </form>
        <script>
            function mody(e){
                document.getElementById("name-form").value = document.getElementById(`name\\\\${e}`).innerHTML
                document.getElementById("phone-form").value = document.getElementById(`phone\\\\${e}`).innerHTML
                document.getElementById("address").value = document.getElementById(`address\\\\${e}`).innerHTML
                document.getElementById("id-mod").value = e
                document.getElementById("modify").value = 1
                document.getElementById("btn").innerHTML = "ИЗМЕНИТЬ"
            }
        </script>
    {% endblock %}
