{% extends "layout.html" %}

{% block main%}
<table class="w-screen text-xs">
    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <td class="py-3 px-2 text-xs text-center">№</td>
        <td class="py-3 px-2 text-xs text-center">Дата</td>
        <td class="py-3 px-2 text-xs text-center">Время поступление вызова</td>
        <td class="py-3 px-2 text-xs text-center">Время отзванивание вызова</td>
        <td class="py-3 px-2 text-xs text-center">Ф.И.О</td>
        <td class="py-3 px-2 text-xs text-center">Возраст</td>
        <td class="py-3 px-2 text-xs text-center">Адрес вызова</td>
        <td class="py-3 px-2 text-xs text-center">Тел-н</td>
        <td class="py-3 px-2 text-xs text-center">Повод</td>
        <td class="py-3 px-2 text-xs text-center">Диогноз</td>
        <td class="py-3 px-2 text-xs text-center">Оказание помощи.</td>
        <td class="py-3 px-2 text-xs text-center">Исход</td>
        <td class="py-3 px-2 text-xs text-center">Врач, фельдшер, водител</td>
        <td class="py-3 px-2 text-xs text-center">Диспетчер</td>
    </tr>
    {%for customer in customers %}
    <tr>
        <td>{{customer[0]}}</td>
        <td>{{customer[1]}}</td>
        <td>{{customer[2]}}</td>
        <td>{{customer[3]}}</td>
        <td>{{customer[14]}}</td>
        <td>{{customer[5]}}</td>
        <td>{{customer[16]}}</td>
        <td>{{customer[15]}}</td>
        <td>{{customer[6]}}</td>
        <td>{{customer[7]}}</td>
        <td>{{customer[8]}}</td>
        <td>{{customer[9]}}</td>
        <td>{{customer[19]}} /{{customer[24]}} / {{customer[29]}}</td>
        <td>{{customer[33]}}
    </tr>
    {% endfor %}
</table>
{%endblock%}
